{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
  <entry>
    <id>{{ .Permalink }}</id>
    <title>{{ .Title }}</title>
    <updated>{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}</updated>{{ with $.Site.Author.Name }}
    <author>
      <name>{{ . }}</name>{{ with $.Site.Author.Email }}
      <email>{{ . }}</email>{{end}}
    </author>{{ end }}
    <content type="html">{{ "<![CDATA[" | safeHTML }}{{ if eq .Section "docs" }}
      <p>{{ range .Params.categories }}
        <strong>{{ $strings.feed.category }}</strong>: <a href="{{ $.Site.Params.BaseDir }}categories/{{ . }}/">{{ index $strings.categories . }}</a><br>{{ end }}
      </p>
      <h2>{{ $strings.description }}</h2>
      {{ .Content }}
      <h2>{{ $strings.references }}</h2>
      <ul>{{ range $link, $title := .Params.references }}
        <li><a href="{{ $link }}">{{ $title }}</a></li>{{ end }}
      </ul>{{ else }}
      {{ .Content }}{{ end }}
    {{ "]]>" | safeHTML }}</content>
    <link rel="alternate" href="{{ .Permalink }}" />{{ range .Params.categories }}
    <category term="{{ index $strings.categories . }}" />{{ end }}
  </entry>