{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
<!-- Footer -->
    <footer class="page-footer danger-color-dark center-on-small-only">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <address>
                        <h5 class="white-text wow fadeInDown">Accra, Ghana</h5>
                        <p class="white-text">PO Box CT 8610, <br />Cantonments, Accra, Ghana,<br /> West Africa.</p>
                    </address>
                </div>
                <div class="footer-col col-md-4 footer-social-media">
                    <ul class="list-inline">
                        {{ range $.Site.Menus.External }}
                        <li>
                            <a href="{{ .URL }}" class="btn-floating {{ .Identifier}}-bg waves-effect waves-light"><i class="fa fa-fw fa-{{ .Identifier}}"></i></a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <address class="pull-right">
                        <h5 class="white-text wow fadeInDown">Sendai, Japan</h5>
                        <p class="white-text">Green Hills A 102<br />1-30-8, Izumi Chuo, Sendai<br />Miyagi, Japan<br />981-3133</p>
                    </address>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center rgba-black-light">
            <div class="container-fluid">
                &copy; {{ .Now.Format "2006" }} &dash; {{ $.Site.Copyright }}
            </div>
        </div>
    </footer>
    {{ partial "footer-scripts.html" . }}