<!doctype html>
{{ `<!--[if lt IE 7]> <html class="ie6" lang="ja" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]> <html class="i7" lang="ja" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]> <html class="ie" lang="ja" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--><!--<![endif]-->` | safeHTML }}
<html lang="{{ $.Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {{ partial "head/seo.html" . }}