<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" media="screen" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' type='text/css' rel='stylesheet' media='all' />
<link rel='stylesheet' id='MD_icons-css'  href='https://fonts.googleapis.com/icon?family=Material+Icons&#038;ver=4.4.2' type='text/css' media='all' />
<!-- Custom CSS -->
<link href="{{ .Site.BaseURL }}css/addhen.css" rel="stylesheet" media="all" type="text/css" />
<!-- Favicon -->
<link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}img/favicong/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}img/favicon/apple-icon-180x180.png">
<!-- RSS -->
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>