<!-- Navigation -->
<!--Header Section-->
<header>
    <!--Navbar-->
    <nav class="navbar navbar-light navbar-fixed-top scrolling-navbar nav-color">
    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx"><i class="fa fa-bars"></i></button>
    <div class="container">
      <!--Collapse content-->
      <div class="collapse navbar-toggleable-xs" id="collapseEx">
        <!--Navbar Brand-->
        <div id="logo">
          <a class="waves-effect waves-light navbar-brand" href="{{ $.Site.BaseURL }}">addhen</a>
        </div>
        <ul class="nav navbar-nav smooth-scroll pull-right">
            {{ if .IsHome }}
                {{ range $.Site.Menus.Main }}
                    {{ if eq .Identifier "blog" }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Identifier }}">{{ .Name }}</a>
                        </li>
                    {{ else if eq .Identifier "home" }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ $.Site.BaseURL }}">{{ .Name }}</a>
                        </li>
                    {{ else }}
                        <li class="nav-item page-scroll"><a class="nav-link" href="#{{ .Identifier }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            {{ else }}
                {{ range $.Site.Menus.Main }}
                    {{ if eq .Identifier "blog" }}
                        <li class="nav-item active page-scroll">
                            <a class="nav-link" href="{{ $.Site.BaseURL }}{{ .Identifier }}">{{ .Name }}</a>
                        </li>
                    {{ else if eq .Identifier "home" }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ $.Site.BaseURL }}">{{ .Name }}</a>
                        </li>
                    {{ else }}
                        <li class="nav-item page-scroll">
                            <a class="nav-link" href="{{ $.Site.BaseURL }}#{{ .Identifier }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
      <!--/.Collapse content-->
    </div>
    </nav>
  <!--/.Navbar-->
    <!--/.Navigation-->
</header>
<!--/.Header Section-->