<div class="row">
    <div class="col-sm-3">
        {{if .Prev}}
            <a class="btn btn-danger waves-effect waves-light" href="{{ .Prev.Permalink }}"><i class="fa fa-fw fa-long-arrow-left"></i></a>
        {{else}}
            <a class="btn btn-danger disabled"><i class="fa fa-fw fa-long-arrow-left"></i></a>
        {{end}}
    </div>
    <div class="col-sm-6 center">&nbsp;</div>
    <div class="col-sm-3">
        {{if .Next}}
            <a class="btn btn-danger waves-effect waves-light pull-right" href="{{ .Next.Permalink }}"><i class="fa fa-fw fa-long-arrow-right"></i></a>
        {{else}}
            <a class="btn btn-danger disabled pull-right"><i class="fa fa-fw fa-long-arrow-right"></i></a>
        {{end}}
    </div>
</div>