{{ partial "head.html" . }}
<title>{{ $.Site.Title }} &mdash; {{ .Title }}</title>
{{ partial "header-media-links.html" . }}
{{ partial "menu.html" . }}
<section>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        {{ range .Data.Pages }}
            <div class="wrap-content">
            <h5><a href="{{ replace .RelPermalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}"> {{ .Title }}</a></h5>
            <ul class="list-inline">
                <li>
                   <span class="post-meta"><i class="fa fa-calendar"></i> <time datetime="{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.DateFormat.Localized }}</time></span>
                </li>
                {{ if isset .Params "author" }}<li><span class="post-meta"><i class="fa fa-user"></i> {{ .Params.author }}</li></span>{{ end }}
            </ul>
            <div>
                {{ .Summary }}
                {{ if .Truncated }}
                <p class="read-more-link pull-right">
                    <a href="{{ replace .RelPermalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}"><nobr>Read more →</nobr></a>
                </p>
                {{ end }}
            </div>
            </div>
        {{ end }}
        </div>
        <div class="wrap-content col-md-4">
            {{ partial "widgets/widgets.html"}}
        </div>
    </div>
</div>
</section>
{{ partial "footer.html" . }}