{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ partial "head.html" . }}
<title>{{ $.Site.Title }} &mdash; {{ $strings.contentinfo.tagline }}</title>
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ substr .Summary 0 250 }} ...">
<meta name="description" content="{{ substr .Summary 0 250 }} ...">
{{ partial "header-media-links.html" . }}
{{ partial "menu.html" . }}
<div class="container">
    <!-- body starts -->
    <div class="row">
        <div class="post-content col-sm-10 col-sm-offset-1">	
        	<h3>{{ .Title }}</h3>
        	<p class="post-meta">{{ if isset .Params "author" }} Posted by {{ .Params.author }} {{ end }} on <time datetime="{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.DateFormat.Localized }}</time></p>
        	<hr />
        </div>
    </div>
    <div class="row">
    	<div class="col-sm-10 col-sm-offset-1">
    		{{ .Content }}
    	</div>
    </div>
</div>
{{ partial "footer.html" . }}