{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ partial "head.html" . }}
<meta property="og:title" content="{{ $.Site.Title }} &mdash; {{ .Title }}">
<meta property="og:description" content="{{ $.Site.Title }} &mdash; {{ .Title }}">
<meta name="description" content="{{ $strings.about.description | safeHTML }}">
<meta name="author" content="{{ $.Site.Params.Publisher.Name }}">
<!-- Twitter card support -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ $.Site.Title }} &mdash; {{ .Title }}" />
<meta name="twitter:description" content="{{ $strings.about.description | safeHTML }}" />
<meta name="twitter:site" content="{{ $.Site.Params.Publisher.TwitterUserName }}" />
<meta name="twitter:image" content="{{ $.Site.BaseURL }}/img/logo-for-twitter-card.png"/>
<title>{{ $.Site.Title }} &mdash; {{ .Title }}</title>
{{ partial "header-media-links.html" . }}
{{ partial "menu.html" . }}
<section>
<div class="container">
    {{ range .Data.Pages }}
    <div class="row">
        <div class="wrap-content col-sm-12">
            <h5><a href="{{ replace .RelPermalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}"> {{ .Title }}</a></h5>
            <ul class="list-inline">
                <li>
                   <span class="post-meta"><i class="fa fa-calendar"></i> <time datetime="{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.DateFormat.Localized }}</time></span>
                </li>
                {{ if isset .Params "author" }}<li><span class="post-meta"><i class="fa fa-user"></i> {{ .Params.author }}</li></span>{{ end }}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ .Summary }}
            {{ if .Truncated }}
            <div class="read-more-link">
                <a href="{{ replace .RelPermalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}"><nobr>Read more →</nobr></a>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ partial "footer.html" . }}
</section>