{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ partial "head.html" . }}
<title>{{ .Title }} | {{ $.Site.Title }}</title>
{{ partial "header-media-links.html" . }}
{{ partial "menu.html" . }}
<section>
<div class="container">
    {{ range .Data.Pages }} 
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1"> 
            <h3>{{ .Title }}</h3>
            <p class="post-meta">{{ if isset .Params "author" }} Posted by {{ .Params.author }} {{ end }} on <time datetime="{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.DateFormat.Localized }}</time></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {{ .Summary }}
            {{ if .Truncated }}
            <div class="read-more-link">
                <a href="{{ replace .RelPermalink (printf "%s" $.Site.BaseURL) $.Site.Params.BaseDir }}"><nobr><span class="text-info">Read more →</span></nobr></a>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ partial "footer.html" . }}
</section>