<!--Carousel Wrapper-->
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1" data-slide-to="1"></li>
        <li data-target="#carousel-example-1" data-slide-to="2"></li>
        <li data-target="#carousel-example-1" data-slide-to="3"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <!--Caption-->
            <div class="flex-center animated fadeInDown">
                <ul>
                    <li>
                        <h1 class="h1-responsive">Welcome to African Association Of Miyagi </h1>
                    </li>
                    <li>
                        <p>Nonprofit community of Africans in Miyagi, Japan</p>
                    </li>
                    <li>
                        <a href="#who-we-are" class="btn btn-primary btn-lg">Read more</a>
                    </li>
                </ul>
            </div>
            <!--Caption-->
        </div>
        <!--/.First slide-->

        <!--Second slide -->
        <div class="carousel-item">
            <!--Caption-->
            <div class="flex-center animated fadeInDown">
                <ul>
                    <li>
                        <h1 class="h1-responsive">Check out our calendar for planned events</h1></li>
                    <li>
                        <p>We have exciting events planned out throughout the year.</p>
                    </li>
                    <li>
                        <a href="calendar" class="btn btn-default btn-lg">Calendar</a>
                    </li>
                </ul>
            </div>
            <!--Caption-->
        </div>
        <!--/.Second slide -->

        <!--Third slide-->
        <div class="carousel-item">
            <!--Caption-->
            <div class="flex-center animated fadeInDown">
                <ul>
                    <li>
                        <h1 class="h1-responsive">Join our mailing list</h1></li>
                    <li>
                        <p>Our community can help you with any questions.</p>
                    </li>
                    <li>
                        <a href="join" class="btn btn-default btn-lg">Join</a>
                    </li>
                </ul>
            </div>
            <!--Caption-->
        </div>
        <!--/.Third slide-->

        <!--Fourth slide-->
        <div class="carousel-item">
            <!--Caption-->
            <div class="flex-center animated fadeInDown">
                <ul>
                    <li>
                        <h1 class="h1-responsive">We accept donations</h1></li>
                    <li>
                        <p>Our community is a non-profit organization. We need your support to keep running</p>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg">Donate</a>
                    </li>
                </ul>
            </div>
            <!--Caption-->
        </div>
        <!--/.Fourth slide-->
    </div>
    <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
<br /><br />