{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
<!-- Footer -->
    <footer class="page-footer rgba-black-lighter center-on-small-only">
        <div class="footer-copyright text-xs-center rgba-black-lighter">
            <div class="container">
                <ul class="list-inline">
                    <li class="list-inline-item">
                    &copy; {{ .Now.Format "2006" }} &middot; {{ $.Site.Copyright }} <span class="powered-by"> &middot; {{ $strings.contentinfo.generator | safeHTML }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {{ partial "footer-scripts.html" . }}