    <script type="text/javascript" src="{{ $.Site.BaseURL }}js/jquery-2.2.3.min.js" defer></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ $.Site.BaseURL }}js/tether.min.js" defer></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ $.Site.BaseURL }}js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="{{ $.Site.BaseURL }}js/mdb.min.js" defer></script>
    
    <script type="text/javascript" src="{{ $.Site.BaseURL }}js/site.min.js" defer></script>
    <!--Google Maps-->
    {{ if .IsHome }}
    <script>
        function init_map() {
            var location = new   google.maps.LatLng(38.3334724,140.7862912);
            var mapoptions = {
                center: location,
                zoom: 14
            };
            var map = new google.maps.Map(document.getElementById('map-container'), mapoptions);
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: '{{ $.Site.Params.Location.Address}}'
            });

            var infowindow = new google.maps.InfoWindow({
                content: '{{ $.Site.Params.Location.Address}}'
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDVj2GDaleBDvtGFk-PQcUuF4-XwDV79AE&callback=init_map" defer async></script>
    {{ end }}
    <!-- /Google Maps -->
    <!-- Google analytics -->
</body>