<!-- CSS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" media="screen" />
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Orbitron:400,500,700,900" rel="stylesheet" />
<!-- Custom CSS -->
<!-- Custom CSS -->
<link href="{{ .Site.BaseURL }}css/mdb.min.css" rel="stylesheet" media="all" type="text/css" />
<link href="{{ .Site.BaseURL }}css/styles.min.css" rel="stylesheet" media="all" type="text/css" />
<!-- RSS -->
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>