{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
<!-- Modal: FindReels -->
<div class="modal fade" id="findreels-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">FindReels</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    Movie scheduling application.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: FindReels -->

<!-- Modal: SMSsync -->
<div class="modal fade" id="smssync-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">SMSsync</h4>
            </div>
            <div class="modal-body">
                <div classs="row">
                    SMSsync is a free and open source Android app that turns your regular Android device into an SMS gateway.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: SMSsync -->

<!-- Modal: Ushahidi -->
<div class="modal fade" id="ushahidi-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Ushahidi Android app</h4>
            </div>
            <div class="modal-body">
                <div classs="row">
                    SMSsync is a free and open source Android app that turns your regular Android device into an SMS gateway.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Ushahidi -->

<!-- Modal: kasahorow -->
<div class="modal fade" id="kasahorow-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">kasahorow Android keyboard</h4>
            </div>
            <div class="modal-body">
                <div classs="row">
                    SMSsync is a free and open source Android app that turns your regular Android device into an SMS gateway.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Kasahorow -->

<!-- Modal: Spotify Music Player -->
<div class="modal fade" id="spotify-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Spotify Music Player</h4>
            </div>
            <div class="modal-body">
                <div classs="row">
                    SMSsync is a free and open source Android app that turns your regular Android device into an SMS gateway.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Spotify Music Player -->

<!-- Modal: Sunshine Weather modal -->
<div class="modal fade" id="sunshine-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Sunshine Weather Watchface</h4>
            </div>
            <div class="modal-body">
                <div classs="row">
                    SMSsync is a free and open source Android app that turns your regular Android device into an SMS gateway.
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Sunshine Weather modal -->