{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
<!-- Modal: FindReels -->
<div class="modal fade" id="findreels-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">FindReels</h4>
            </div>
            <div class="modal-body">
                A beautiful and feature rich Android app for scheduling movies. Implemented lots of custom views.
                <br /><br />
                <p class="text-center">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/1WD87GlrnAM" frameborder="0" allowfullscreen></iframe>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: FindReels -->

<!-- Modal: SMSsync -->
<div class="modal fade" id="smssync-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">SMSsync</h4>
            </div>
            <div class="modal-body">
                Free &amp; Open Source SMS gateway for Android. Turns your Android device into a powerful SMS gateway..
                <br /><br />
                <p class="text-center">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/yFGfsw65ts0" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>
                    <strong>Project site:</strong> <a href="http://smssync.ushahidi.com/">http://smssync.ushahidi.com/</a>
                </p>
                <p>
                    <a href="https://play.google.com/store/apps/details?id=org.addhen.smssync" alt="Google Playstore" title="Google Playstore"><img src="{{ .Site.BaseURL }}img/playstore-badge.png" /></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: SMSsync -->

<!-- Modal: Ushahidi -->
<div class="modal fade" id="ushahidi-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Ushahidi Android app</h4>
            </div>
            <div class="modal-body">
                Free &amp; Open Source Android client for the Ushahidi Platform. Made heavy use of the Google Maps Android APIs.
                <br /><br />
                <p class="text-center">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/YvOR6SSuNBg" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>
                    <strong>Project site:</strong> <a href="https://github.com/ushahidi/platform-android">https://github.com/ushahidi/platform-android</a>
                <p>
                </p>
                    <a href="https://github.com/ushahidi/platform-android/releases" alt="Download from Github" title="Download from Github"><img src="{{ .Site.BaseURL }}img/github-badge.png" /></a>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Ushahidi -->

<!-- Modal: kasahorow -->
<div class="modal fade" id="kasahorow-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">kasahorow Android keyboard</h4>
            </div>
            <div class="modal-body">
                An Android keyboard for serveral Ghanaian languages including Akan, Ga, Ewe, and Hausa. It made extensive use of input framework.
                <br /><br />
                <p class="text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lUmHD92W-KY" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>
                    <strong>Project site:</strong> <a href="https://github.com/eyedol/kasahorow-Keyboard-For-Android">https://github.com/eyedol/kasahorow-Keyboard-For-Android</a>
                </p>
                <p>
                    <a href="https://play.google.com/store/apps/details?id=com.kasahorow.android.keyboard.app" alt="Google Playstore" title="Google Playstore"><img src="{{ .Site.BaseURL }}img/playstore-badge.png" /></a>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Kasahorow -->

<!-- Modal: Spotify Music Player -->
<div class="modal fade" id="spotify-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Spotify Music Player</h4>
            </div>
            <div class="modal-body">
                A music player that displays an artist's top 10 tracks on Spotify and provides streaming playback of audio using Android's Mediaplayer API.
                <br /><br />
                <p class="text-center">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/CeKCIXhOCgY" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>
                    <strong>Project site:</strong> <a href="https://github.com/addhen/spotify-streamer">https://github.com/addhen/spotify-streamer</a>
                <p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Spotify Music Player -->

<!-- Modal: Sunshine Weather modal -->
<div class="modal fade" id="sunshine-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Raiburari</h4>
            </div>
            <div class="modal-body">
                
                This is a resuable library to make it easy to write Android apps the reactive way. It makes use of the RxJava library to make this possible.
                <p>
                    <strong>Project site:</strong> <a href="https://bitbucket.org/eyedol/raiburari">https://bitbucket.org/eyedol/raiburari</a>
                </p>
                </p>
                    <a href="https://bitbucket.org/eyedol/raiburari" alt="Download from Github" title="Download from Github"><img src="{{ .Site.BaseURL }}img/github-badge.png" /></a>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> {{ $strings.portfolio.close }} X</button>
            </div>
        </div>
    </div>
</div>
<!--/.Modal: Sunshine Weather modal -->