<!-- Carousel -->
<div id="carousel1" class="carousel slide carousel-fade hoverable">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active">
        </li>
        <li data-target="#carousel1" data-slide-to="1"></li>
        <li data-target="#carousel1" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner z-depth-0" role="listbox">

        <!-- First slide -->
        <div class="item active">
            <div class="view overlay hm-blue-slight">
                <a><img src="{{ $.Site.BaseURL }}/img/ushahidi-device-frame.png" class="img-responsive" alt="slide1">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!-- /.item -->

        <!-- Second slide -->
        <div class="item">
            <div class="view overlay hm-blue-slight">
                <a><img src="{{ $.Site.BaseURL }}/img/findreels-device-frame.png" class="img-responsive" alt="slide2">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.carousel-inner -->

</div>
<!-- /.carousel -->