{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ partial "head.html" . }}
    <meta property="og:title" content="{{ $strings.not_found_page.title }}">
    <meta property="og:description" content="{{ $strings.not_found_page.description }}">
    <meta name="description" content="{{ $strings.not_found_page.description }}">
    <title>{{ $strings.not_found_page.title }} | {{ $.Site.Title }}</title>
    {{ partial "header-media-links.html" . }}
    {{ partial "menu.html" . }}
    <meta itemprop="name" content="{{ $strings.not_found_page.title }}">
    <meta itemprop="description" content="{{ $strings.not_found_page.description }}">
    <main role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
      <div class="container">
        <section class="inner">
          <header>
            <h1 itemprop="name">{{ $strings.not_found_page.title }}</h1>
            <p itemprop="description">{{ $strings.not_found_page.description }}</p>
          </header>
        </section>
      </div>
    </main>
  {{ partial "footer.html" . }}