{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ partial "home-page-head.html" . }}
<!-- open gragh support -->
<meta property="og:title" content="{{ $.Site.Title }}">
<meta property="og:description" content="{{ $strings.contentinfo.description }}">
<meta name="description" content="{{ $strings.about.description | safeHTML }}">
<meta name="author" content="{{ $.Site.Params.Publisher.Name }}">
<!-- Twitter card support -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ $.Site.Title }} &mdash; {{ $strings.contentinfo.tagline }}" />
<meta name="twitter:description" content="{{ $strings.about.description | safeHTML }}" />
<meta name="twitter:site" content="{{ $.Site.Params.Publisher.TwitterUserName }}" />
<meta name="twitter:image" content="{{ $.Site.BaseURL }}/img/logo-for-twitter-card.png"/>
<title>{{ $.Site.Title }}</title>
{{ partial "header-media-links.html" . }}
{{ partial "menu.html" . }}
{{ $strings := index $.Site.Data.translations $.Site.LanguageCode }}
{{ $menus := $.Site.Menus.Main }}
{{ $contact := index $menus 5 }}
{{ partial "carousel.html" . }}
<main>
    <div class="container">
        <!--Who we're section-->
        <section class="intro-row" id="who-we-are">
            <h1 class="section-title wow bounceIn">{{ $strings.who_we_are.title | safeHTML }}</h1>
            <!--Description-->
            <p>{{ $strings.who_we_are.description | safeHTML }}</p>
        </section>
        <!--/.Who we're section-->
    </div>
</main>

<!--Section: Team v.1-->
<div class="container">
    <!--Section: Team v.1-->
    <section class="section team-section">
        <!--Section heading-->
        <h1 class="section-title wow bounceIn">Executive members</h1>
        <!--First row-->
        <div class="row text-xs-center">
            <!--First column-->
            <div class="col-lg-3 col-md-6 mb-r">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/lego/2.jpg" class="rounded-circle">
                </div>
                <h4>Dr. Isaac Yaw Asiedu</h4>
                <h5>Co-Founder</h5>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/lego/6.jpg" class="rounded-circle">
                </div>
                <h4>Dr. Ismail Issah</h4>
                <h5>Co-Founder</h5>
                <!--Linkedin-->
                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/lego/3.jpg" class="rounded-circle">
                </div>

                <h4>Bobby</h4>
                <h5>Secretary</h5>
                <!--Linkedin-->
                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            </div>
            <!--/Third column-->

            <!--Fourth column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/lego/4.jpg" class="rounded-circle">
                </div>
                <h4>Henry Addo</h4>
                <h5>Webmaster</h5>
                <!--Linkedin-->
                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                <!--GitHub-->
                <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

            </div>
            <!--/Fourth column-->

        </div>
        <!--/First row-->

    </section>
    <!--/Section: Team v.1-->

</div>
<!-- Contact Section -->
<section id="{{ $contact.Identifier }}">
    <div class="container">
        <h1 class="section-title wow bounceIn">{{$contact.Name}}</h1>
        <div class="row">
            <!--First column-->
            <div class="col-md-8">
                <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px;"></div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4">
                <ul class="text-xs-center">
                    <li class="wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-map-marker"></i>
                        <p>{{ $.Site.Params.Location.Address}}</p>
                    </li>

                    <li class="wow fadeInUp" data-wow-delay="0.3s"><i class="fa fa-phone"></i>
                        <p>{{ $.Site.Params.Location.Telephone}}</p>
                    </li>

                    <li class="wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-envelope"></i>
                        <p>{{ $.Site.Params.Location.EmailAddress}}</p>
                    </li>
                </ul>
            </div>
            <!--/Second column-->
        </div>
    </div>
</section>
{{ partial "footer.html" . }}