{{ partial "head.html" . }}
<title>{{ .Title }} &mdash; {{ $.Site.Title }}</title>
{{ partial "header-media-links.html" . }}
{{ partial "menu.html" . }}
<div class="container">
    <!-- body starts -->
    <div class="row">
        <div class="wrap-content col-sm-12">    
            <h3>{{ .Title }}</h3>
            <hr />
            <ul class="list-inline">
                <li class="list-inline-item">
                   <span class="post-meta"><i class="fa fa-calendar"></i> <time datetime="{{ .Date.Format $.Site.Params.DateFormat.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.DateFormat.Localized }}</time></span>
                </li>
                {{ if isset .Params "author" }}
                <li class="list-inline-item"><span class="post-meta"><i class="fa fa-user"></i> {{ .Params.author }}</li></span>{{ end }}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ .Content }}
        </div>
    </div>
    <!-- pagination -->
    {{ partial "pagination.html" . }}
    <!-- comment section -->
    {{ with $.Site.Params.DisqusShortname }}
        <div class="row">
            <div class="wrap-content col-sm-12">
                {{ partial "disqus.html" . }}
            </div>
        </div>
    {{ end }}
</div>
{{ partial "footer.html" . }}